<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}"/>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <nav class="nav">
        <div class="container">
            <div class="logo">			
                    <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Youtube_Music_logo.svg" alt="" width="72" height="72">	
            </div>
            
            <div class="logo">
                <a href="">
                    Music Recommender
                </a>
            </div>

            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="/playlist">Playlists</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <section class="home">
        {% block content %}{% endblock %}
    </section>
</body>
</html>
