<style>
	.custom {
		width: 200px !important;
	}

	.custom1 {
			width: 300px !important;
	}

</style>

{% extends 'base.html' %}
{% block content %}

<div class="container" style="padding-top: 2rem;">
	<form class="form-signin" method="POST">
		<h1 class="h3 mb-3 font-weight-normal">
		<font color="black">
			<center>
				Add to Playlist
			</center>
		</font></h1>

		<label class="sr-only">Playlist name</label>
		<center>
			<input class="form-control custom1" placeholder="Playlist Name" name="playlist_name" autofocus required>
		</center>
	
	</br>
		<center>
			<button class="btn btn-md btn-primary btn-block custom" type="submit">Create</button>
		</center>
		
		<center>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			
				<div class=flashes class="checkbox mb-3" style="padding-top: 1rem;">
				{% for message in messages %}
				<label>
					<center>
						<font color="red">{{ message }}</font>
					</center>
				</label>
				{% endfor %}
				</div>
			{% endif %}
			{% endwith %}
			{% block body %}{% endblock %}
		</center>
	</form>
</div>


{% endblock %}
