
{% extends "base.html" %}
{% block content %}

	{% if username %}
	<div class=flashes class="container" style="padding-top: 2rem;">
		<center>
			<h2>
				Hi {{ username }},
			</h2>
			<h2>
				Discover your Music Here!
			</h2>
		</center>
	</div>
	{% endif %}

	{% if track_info %}
	<div class="container" style="padding-top: 2rem;">
		<table class="table table-bordered">
				{% for t in track_info %}
					<tr>
						{% if music_art %}
						<td><img src={{t[4]}}></a></td>
						{% endif %}
						<td><a href="/songs/{{t[0]}}"> {{t[1]}} </a></td>
						<td>{{t[2]}}</td>
						
						<script type=text/javascript>
							$(function() {
							  $('a#T{{t[3]}}').bind('click', function() {
								$.getJSON('/songs/{{t[0]}}/play',
									function(data) {
								//do nothing
								console.log("{{t[3]}}");
								});
								return false;
							  });
							});
						</script>
					
						<td> <a href=# id=T{{t[3]}}><button class='btn btn-default'>Play</button></a> </td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	</div>
{% endblock %}
