
{% extends "base.html" %}
{% block content %}

	{% if username %}
	<div class=flashes class="container" style="padding-top: 2rem;">
		<center>
			<h2>
				Hi {{ username }},
			</h2>
			<h2>
				Discover your Music Here!
			</h2>
		</center>
	</div>
	{% endif %}

	{% if track_info %}
	<div class="container" style="padding-top: 2rem;">
		<table class="table table-bordered">
				{% for t in track_info %}
					<tr>
						<td><img src={{t[0]}}></a></td>
						<td><a href="/songs/{{t[1]}}"> {{t[2]}} </a></td>
						<td>{{t[3]}}</td>
						
						<script type=text/javascript>
							$(function() {
							  $('a#{{t[1]}}').bind('click', function() {
								$.getJSON('/songs/{{t[1]}}/play');
								return false;
							  });
							});
						</script>
					
						<td> <a href=# id={{t[1]}}><button class='btn btn-default'>Play</button></a> </td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	</div>
{% endblock %}
