<style>
	.custom {
    width: 200px !important;
}
</style>

{% extends "base.html" %}
{% block content %}

<div class="container" style="padding-top: 2rem;">
	<center>
		<h1>Playlists</h1>
	</center>
	<center>
		<button class="btn btn-md btn-primary btn-block custom" type="submit" href="/add_playlists">Create New Playlist</button>
	</center>

</br>
        {% if playlists %}
        <div class="container table-responsive">
			<table class="table table-bordered">
			
				{% for playlist in playlists %}    
				<tr>
					<td>
						<a style="text-align: center;" href= {{ playlist[0] }}> {{ playlist[1] }} </a>
					</td>
				</tr>    								
				{% endfor %}
			
			</table>
          </div>
		{% endif %}
</div>
	
{% endblock %}
