
{% extends "base.html" %}
{% block content %}

<div class="container" style="padding-top: 2rem;">
	{% if playlist_name %}
		<div class=flashes class="container">
		<center>
			<h1>
				<font color="black">{{ playlist_name }}</font>
			</h1>            
		</center>
		
		</div>
	{% endif %}
	
	{% if playlist_tracks %}
	<div class="container">
	<table class="table table-bordered">
		{% for track in playlist_tracks %}
		<tr>
			{% if music_art %}
			<td><img src={{track[4]}}></a></td>
			{% endif %}
			<td>
				<a href=/songs/{{track[0]}}>
						{{track[1]}}
				</a>
			</td>
			<td>
				{{ track[2] }}
			</td>
			<script type=text/javascript>
				$(function() {
					$('a#T{{track[3]}}').bind('click', function() {
					$.getJSON('/songs/{{track[0]}}/play',
						function(data) {
					//do nothing
					console.log("{{track[3]}}");
					});
					return false;
					});
				});
			</script>
		
			<td> <a href=# id=T{{track[3]}}><button class='btn btn-default'>Play</button></a> </td>
		
			<td> <a href='/songs/{{track[0]}}/delete_from_playlist/{{playlist_id}}'><button class='btn btn-default'>Delete from playlist</button></a> </td>
		</tr>
		{% endfor %}
	</table>
	</div>
	{% endif %}
</div>
	
<center>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	
		<div class=flashes class="checkbox mb-3" style="padding-top: 1rem;">
		{% for message in messages %}
		<label>
			<center>
				<font color="grey">{{ message }}</font>
			</center>
		</label>
		{% endfor %}
		</div>
	{% endif %}
	{% endwith %}
	{% block body %}{% endblock %}
</center>


{% endblock %}
