<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>

	</title>
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<body>
	
	<h1>Playlists</h1>
        {% if playlists %}
        <div class="container table-responsive">
			<table class="table table-bordered">
			
				{% for playlist in playlists %}    
				<tr>
					<td>
						<a href= {{ playlist[0] }}> {{ playlist[1] }} </a>
					</td>
				</tr>    								
				{% endfor %}
			
			</table>
          </div>
        {% endif %}
      {% block body %}{% endblock %}



	  
</body>

</html>