
{% extends "base.html" %}
{% block content %}

<div class="container" style="padding-top: 2rem;">
	{% if playlist_name %}
		<div class=flashes class="container">
		<center>
			<h1>
				<font color="black">{{ playlist_name }}</font>
			</h1>            
		</center>
		
		</div>
	{% endif %}
	
	<div class="container">
	<table class="table table-bordered table-responsive">
		{% for track in playlist_tracks %}
		<tr>
			<td>
				<a href={{ track[0] }}>
						{{ track[1] }}
				</a>
			</td>
			<td>
				{{ track[2] }}
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>
</div>
	

{% endblock %}
