<style>
	.custom {
    width: 200px !important;
}
</style>

{% extends "base.html" %}
{% block content %}

<div class="container" style="padding-top: 2rem;">
	<center>
		<h1>Playlists</h1>
	</center>
	<center>
		<a href="/add_playlist">
			<button class="btn btn-md btn-primary btn-block custom" type="submit">Create New Playlist</button>
		</a>
	</center>

</br>
        {% if playlists %}
        <div class="container ">
			<table class="table table-bordered">
			
				{% for playlist in playlists %}    
				<tr>
					<td>
						<a style="text-align: center;" href= {{ playlist[0] }}> {{ playlist[1] }} </a>
					</td>
					<td>
						<center>


							<script type=text/javascript>
								$(function() {
								  $('a#DL{{ playlist[0] }}').bind('click', function() {
									$.getJSON('/delete_playlist/{{ playlist[0] }}',
										function(data) {
									//do nothing
									});
									return false;
								  });
								});
							</script>

							<a href="#" id="DL{{ playlist[0] }}">
								<button type="button" class="btn btn-danger">Delete Playlist</button>
							</a>
						</center>
					</td>
				</tr>    								
				{% endfor %}
			
			</table>
          </div>
		{% endif %}
</div>

<center>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	
		<div class=flashes class="checkbox mb-3" style="padding-top: 1rem;">
		{% for message in messages %}
		<label>
			<center>
				<font color="grey">{{ message }}</font>
			</center>
		</label>
		{% endfor %}
		</div>
	{% endif %}
	{% endwith %}
	{% block body %}{% endblock %}
</center>

	
{% endblock %}
