{% extends "base.html" %}
{% block content %}

	<div class="container" style="padding-top: 4rem;">
		
		<table class="table table-bordered">
				<tr>
					<td>Name</td>
					<td>
						{% if userdetail %}
						<div class=flashes class="container">
									 {{ userdetail[1] }} {{ userdetail[2] }}
					
						</div>
						{% endif %}		

					</td>
				</tr>
					
				<tr>
					<td>Username</td>
					<td>
						{% if userdetail %}
						<div class=flashes class="container">
									 {{ userdetail[0] }}
					
						</div>
						{% endif %}
					</td>					
				</tr>

				<tr>
					<td>Email ID</td>
					<td>
						{% if userdetail %}
						<div class=flashes class="container">
									 {{ userdetail[3] }}
					
						</div>
					
						{% endif %}
					</td>					
				</tr>
				
		</table>
				
    </div>


<div>
	<a href="/profile/interests"> User Interests </a>
</div>

{% endblock %}