{% extends "base.html" %}
{% block content %}

<div class="container" style="padding-top: 2rem;">

	<center>
		<h1>Recent Tracks</h1>
	</center>
	{% if track_times %}
	<table class="table table-bordered">
		<tr>
			<th>Songs</th>
			<th> Timestamp</th>
		</tr>
		{% for track_time in track_times %}
		<tr>
			<td>
				<a href='/songs/{{ track_time[0] }}''> {{ track_time[1] }} </a>				
			</td>
			<td>
				{{ track_time[2] }}
			</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
</div>


{% endblock %}
