<style> 
	html,
	body {
	  height: 100%;
	}
  
  
	.form-signin {
	  width: 100%;
	  max-width: 330px;
	  padding: 15px;
	  margin: 0 auto;
	}
	.form-signin .checkbox {
	  font-weight: 400;
	}
	.form-signin .form-control {
	  position: relative;
	  box-sizing: border-box;
	  height: auto;
	  padding: 10px;
	  font-size: 16px;
	}
	.form-signin .form-control:focus {
	  z-index: 2;
	}
	.form-signin input[type="email"] {
	  margin-bottom: -1px;
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	}
	.form-signin input[type="password"] {
	  margin-bottom: 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
  
	}
  </style>


{% extends "base.html" %}
{% block content %}

	<form class="form-signin" method="POST">
		<h1 class="h3 mb-3 font-weight-normal">
		<font color="black">
			<center>
				Search
			</center>
		</font></h1>

		<label class="sr-only">Song Name</label>
		<input class="form-control" placeholder="Song" name="song_name" autofocus>

		<label class="sr-only">Artist Name</label>
		<input class="form-control" placeholder="Artist" name="artist_name">
		
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class=flashes class="checkbox mb-3">
			{% for message in messages %}
			<label>
				<font color="red">{{ message }}</font>
			</label>
			{% endfor %}
			</div>
		{% endif %}
		{% endwith %}
		{% block body %}{% endblock %}

		</br>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>

		<table>
			{% if rows %}
				{% for row in rows %}
					<tr>
						<td><a href="/songs/{{row[2]}}"> {{ row[0] }} </a></td>
						<td> {{ row[1] }} </td>
					</tr>
				{% endfor %}
			{% endif %}
		</table>

	</form>

{% endblock %}
