
{% extends "base.html" %}
{% block content %}


<div class="container" style="padding-top: 4rem;">
	<center><img class="img_center" src={{ image_url }} alt=""></center>
	</br>
	<center><h5> {{ song_name }} - {{ artist_name }} </h5></center>

	<center>

		<script type=text/javascript>
			$(function() {
			  $('#SG{{id_hash}}').bind('click', function() {
				$.getJSON('/songs/{{uri}}/play',
					function(data) {
				});
				return false;
			  });
			});
		</script>

		<button class='btn btn-default' id='SG{{id_hash}}'>Play</button>
		<a href='/songs/{{uri}}/add_to_playlist'><button class='btn btn-default'>Add to Playlist</button>		
	</center>
</div>

{% endblock %}